**/*.bak
**/*.tmp
**/.#*
**/.DS_Store
**/._*
**/.idea
**/.vagrant
**/auth.json
**/nbproject
**/temp.php
**/test.php
*.bak
.idea
.phpdoc
.phpunit.cache
.phpunit.result.cache
.vscode
/composer.lock
/composer.phar
/vendor/
PLAN_*
composer.lock
ecs.php
phpunit.xml
rector.php
target
vendor