**/*.bak
**/*.tmp
**/.#*
**/.DS_Store
**/._*
**/.idea
**/.vagrant
**/auth.json
**/nbproject
**/temp.php
**/test.php
.phpdoc
.phpunit.cache
.phpunit.result.cache
.vscode
PLAN_*
composer.lock
ecs.php
phpunit.xml
rector.php
target
vendor
SPIKE_*
.claude
