name: Run tests

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
    test-php:
        name: Test on php ${{ matrix.php-version }} and ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        continue-on-error: ${{ matrix.experimental }}
        strategy:
            fail-fast: false
            matrix:
                experimental: [false]
                coverage-extension: [pcov]
                php-version: ["7.1", "7.2", "7.3", "7.4", "8.0", "8.1"]
                os: [ubuntu-latest]
                include:
                    - { php-version: '5.3', experimental: false, os: ubuntu-latest, coverage-extension: 'xdebug' }
                    - { php-version: '5.4', experimental: false, os: ubuntu-latest, coverage-extension: 'xdebug' }
                    - { php-version: '5.5', experimental: false, os: ubuntu-latest, coverage-extension: 'xdebug' }
                    - { php-version: '5.6', experimental: false, os: ubuntu-latest, coverage-extension: 'xdebug' }
                    - { php-version: 'nightly', experimental: true, os: ubuntu-latest, coverage-extension: 'pcov' }
        steps:
            - uses: actions/checkout@v2
            - name: Install pdfinfo
              run: sudo apt-get install -y poppler-utils
            - name: Use php ${{ matrix.php-version }}
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  coverage: ${{ matrix.coverage-extension }}
                  extensions: bcmath, imagick, gd
                  ini-values: display_errors=on, error_reporting=-1
            - name: List php modules
              run: php -m
            - name: List php modules using "no php ini" mode
              run: php -m -n
            - name: Cache module
              uses: actions/cache@v2
              with:
                  path: ~/.composer/cache/
                  key: composer-cache
            - name: Install dependencies
              run: composer install --no-interaction
            - name: Run php tests
              run: ./tests/launch.sh
            - name: Send coverage
              uses: codecov/codecov-action@v1
              with:
                flags: php-${{ matrix.php-version }}-${{ matrix.os }}
                name: php-${{ matrix.php-version }}-${{ matrix.os }}

    analyse-php:
        name: Static Analysis
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use php 8.0
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.0
                  tools: composer:v2
            - name: Cache module
              uses: actions/cache@v2
              with:
                  path: ~/.composer/cache/
                  key: composer-cache
            - name: Install phpstan
              run: composer require --dev phpstan/phpstan
            - name: Analyse files
              run: ./vendor/bin/phpstan --memory-limit=2G
